.card-container .about-card{
  height: 100%;
  max-width: 250px;
  align-items:center;
  justify-content:space-between ;
  background-color: transparent;
  border:none;
  gap: 3rem;
  .card-text{
    font-size: 1.6rem;
  }
  .h5{
    text-align: center;
    font-size: 2rem;
  }
  .card-img{
    width: 100%;
    aspect-ratio: 1;
    clip-path: circle(50%);
  }
  
  .links-container{
    display: flex;
    gap: 1rem;
    
    a{
      text-decoration: none;
      color: black;
      font-size: 3.0rem;
    }
  }
  
}

@media (min-width:900px) {
  .card-container .about-card{
    .card-text{
      font-size: 2rem;
    }
    .h5{
      font-size: 3rem;
    }
  }
  
}