.banner {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  padding: 0rem 1.2rem;
  .bannerContent{
    h1 {
      font-size: 2.4rem;
      font-weight: 800;
      text-align: center;
      color: #1b1b1b;
      margin: .8rem 0rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }
    .buttonBanner {
      width: 100%;
      padding: 0;
      height: 4.7rem;

    }
  }
}

.imgBox{
  width: 100%;
  min-height: 20rem;
  max-height: 30rem;
  background-image: url("https://i.imgur.com/jElsuFo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



@media (min-width: 600px){
  .banner {
    flex-direction: row;
    padding: 0;
    .bannerContent {     
      width: 45%;
      h1 {
        font-size: 3.8rem;
        font-weight: 800;
        text-align: left;
            
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 2.4rem;
      }
      .buttonBanner {
        padding: 0;
        height: 4.7rem;
        
      }   
    }
  }

  .imgBox{
    width: 40%;
    min-height: 52rem;
    max-height: 60rem;
    background-image: url("https://i.imgur.com/jTtnqmB.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}