.bannerPromo {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;

  .bannerPromoImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;  
    height: 100%;
    width: 100%;
  }
  .bannerPromoContent{
    h1 {
      font-size: 3.6rem;
      font-weight: 800;
      margin-bottom: 0rem;
    }
    p {
      font-size: 1.2rem
    }
  }
            
}

@media (min-width: 600px) {
        
  .bannerPromo {
    height: 52rem;
    position: relative;
    .bannerPromoImg {
      background-position: center;
    }
    .bannerPromoContent{
      position: absolute;
      bottom: 4rem;
      left: 4rem;
      h1 {
        font-size: 3.6rem;
        color: #fff;
      }
      p {
        color: #fff;
        font-size: 1.4rem
      }
    }
  }
}
