.carousel.slide.carousel-dark{
  max-height: 400px;
  max-width:  100%;
  a{
    width: 5%;
    height: 20%;
    top:45%;
    span{
      width: 10rem;
      background-size:10rem;
    }
  }
  .carousel-indicators {
    display: none;
  }
}

