$cart-multiplier:2;
.cart-header{
  h1{
    font-size: $cart-multiplier*2rem;    
  }
}
.product-header{
  border-bottom: 1px solid #000;
  padding: 1rem;
  font-size: $cart-multiplier*1rem;
}

.subtotal{
  font-size: $cart-multiplier*1rem;
  font-weight: 500;
  border-bottom: 1px solid #000;
}
.total{
  font-size: $cart-multiplier*1.25rem;
  font-weight: 700;
}

@media (min-width:900px) {
  .cart-header{
    h1{
      position: relative;
      left:-3rem
    }
  }
  
}