.dropdown-button{
  background-color: transparent;
  display: flex;
  align-items:center;
  justify-content:center;
  gap:1rem;
  span{
    font-size: 1.6rem;
  }
  svg{
    width: 1.6rem;
    height: 1.6rem;
  }

}
.dropdown-menu.show{
  top:100%;
}