*{
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	  margin: 0;
	  font-family: 'Roboto', sans-serif;
	  background-color: #FBFFF3;
}

html {
	font-size: 62.5%;
}

#root {
  	width: 100%;
	font-family: 'Roboto', sans-serif;
  	color: #1b1b1b;
}
