*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #FBFFF3;
}
:root{
  font-size: 62.5%;
}

@media (min-width:300px) {
  main{
    padding: 1.5rem;
  }
}
@media (min-width:600px) {
  main{
    padding: 3rem;
  }
}
@media (min-width:900px) {
  main{
    padding: 4.5rem;
  }
}
@media (min-width:1200px) {
  main{
    padding: 4.5rem 12rem;
  }
}