table,
td {
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #1b1b1b;
  padding: 0.5rem;
}

thead {
  background-color: #1b1b1b;
  color: #fff;
  padding: 1rem;
}

th {
  padding: 1rem;
  color: #fff;
}

.grey {
  background-color: rgba(182, 179, 179, 0.795);
}

@media (min-width:300px) {
  
  table
  td {
    padding: 1rem;
  }
}