.sizes {
  border-left: .1px solid #dadada; 
}

.product-size{
<<<<<<< HEAD
  font-size: 1.4rem;
  border: .1px solid #dadada;
  padding: 1rem 2.5rem;
=======
  font-size: 1.6rem;
  border: 1px solid #000;
  padding: 0.5rem 1.5rem;
>>>>>>> c01824246512f14b14bf11aecd6fa96ace107ced
  background-color: transparent;
  border-left: none;
}

.product-size.selected{
  background-color: #1b1b1b;
  color:#fff;
}

:disabled {
  color: #606060;
  background-color: #dadada;
}