.toggler {
  --toggler-multiplier:1;
       border-bottom: 1px solid #1B1B1B;
       width: 77%;
       font-family: 'Roboto', sans-serif;
       > .toggleShow  {
         padding: 0.6rem 1.8rem 0 1.8rem;
              h2 {
                display: inline;
                font-weight: 700;
                font-size: calc(var(--toggler-multiplier)*2.4rem);
                margin: 0;
              }
              button {
                height: 100%;
                background: transparent;
              }
              svg{
                font-size: calc(var(--toggler-multiplier)*2rem);
                height: calc(var(--toggler-multiplier)*2rem);
              }
       }
       > .toggleDescription {
              font-weight: 400;
              font-size: calc(var(--toggler-multiplier)*1.6rem);
              margin: 1.2rem 3.6rem;
       }
}

.buttonShow {
       background: none;
       border: none;

}

@media (min-width:1200px) {
  .toggler{
    --toggler-multiplier:1.6;
    .toggleShow{
      padding: 1.2rem 3.6rem 0rem 3.6rem;
    }
  }
}