.toggler {
  --toggler-multiplier:1;
       width: 77%;
       font-family: 'Roboto', sans-serif;
       > .toggleShow  {
         padding: 0.6rem 0rem 0 0rem;
              h2 {
                display: inline;
                font-weight: 500;
                font-size: calc(var(--toggler-multiplier)*1.4rem);
                margin: 0;
                
                
              }
              button {
                height: 100%;
                background: transparent;
              }
              svg{
                font-size: calc(var(--toggler-multiplier)*1rem);
                height: calc(var(--toggler-multiplier)*1rem);
              }
       }
       > .toggleDescription {
              font-weight: 400;
              font-size: calc(var(--toggler-multiplier)*1.2rem);
              margin: 1.2rem 0rem;
       }
}

.toggler:hover {
    cursor:pointer;
}

.buttonShow {
       background: none;
       border: none;

}

@media (min-width:1200px) {
  .toggler{
    --toggler-multiplier:1.4;
    .toggleShow{
      padding: 2.4rem 0rem 0rem 0rem;
    }
  }
}